@use "../shared" as v;
.multiselect-control {
    position: relative;
    display:flex;
    flex-direction: column;
    gap:0.625rem;
    @include v.inputWrapper;
    .input-control {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        .input-wrapper {
            max-width: 12.5rem;
            position: relative;
            .caret {
                &:after {
                    content: "\a0";
                }
            }
            &:not(.disabled) {
                cursor: pointer;
            }
        }
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
    }
    .options {
        @include v.menuCard;
        display: none;
        // top: calc(100% + 1px);
        right: 0;
        left: 0;
        height: 12.5rem;
        max-height: 12.5rem;
        overflow: auto;
        &.openUp {
            bottom: 2.1875rem;
           }
           &.openDown {
             top: 2.1875rem;
          }
        li {
            gap: 4px;
            .option-content {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 10px;
                .check:last-child {
                    display: none;
                }
            }
            &.selected {
                background-color: var(--selected);
                .check:last-child {
                    display: inline-flex;
                }
            }
            &:hover {
                background-color: var(--hover);
            }
            &:not(:disabled) {
                cursor: pointer;
                .check {
                    path {
                        stroke: var(--blue);
                    }
                }
            }
        }
        .search-wrapper {
            input {
                outline: none;
                border: none;
                flex: 1;
                width: 100%;
                padding: 0.625rem;
            }
        }
    }
    &.is-open {
        .input-wrapper {
            border-color: var(--blue);
        }
        .options {
            display: flex;
            flex-direction: column;
        }
    }
    @include v.disabledInput;
}
