@use "../variables" as v;

@mixin inkBar {
  gap: 0;
  border-bottom: 1px solid var(--border);

  .btn.tab {
    white-space: nowrap;
    color: var(--text);
    white-space: nowrap;

    svg {
      color: inherit;
    }

    >* {
      font-size: inherit;
    }

    &:after {
      transition: width 0.2s linear;
      bottom: 0;
      position: absolute;
      height: 3px;
      background-color: var(--blue);
    }

    @include tabTitle;
  }
}

@mixin bordered {
  .btn.tab:not(.active) {
    border: solid 1px var(--border);
  }
}

.tab-buttons {
  display: flex;
  gap: 0.625rem;
  padding: 0 2px;

  &.ink-bar {
    @include inkBar;
  }

  &.bordered {
    @include bordered;
  }

  .btn {
    &.disabled {
      opacity: 0.5;
    }

    &.pending {
      opacity: 0.7;
    }
  }

  @media(min-width: v.$xl) {
    &.desktop-ink-bar {
      @include inkBar;
    }

    &.desktop-bordered {
      @include bordered;
    }
  }

  @media(max-width: v.$xl) {
    &.bordered {
      .btn.tab:not(.active) {
        border: none !important;
        background-color: var(--hover);
        color: var(--text);
      }
    }

    &.mobile-ink-bar {
      @include inkBar;
    }

    &.mobile-bordered {
      @include bordered;
    }

    &.hide-scroll-bar {
      @include v.hideScrollBar;
    }
  }
}