@use "./variables";
.container{
    max-width: variables.$containerMaxWidth;
    margin-right: auto;
    margin-left: auto;
    &.auto-padding{
        padding-top: 1rem;
        padding-bottom: 1rem;
        @media(max-width: variables.$containerMaxWidth){
            padding: 1rem 1.25rem;
        }
    }
}