@use 'sass:math';
@use "./variables";

.row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  flex: 1;
  $spaces: 0,
  4,
  10,
  20,
  30,
  40,
  64;

  @each $space in $spaces {
    &.h-spacing-#{$space} {
      margin-left: #{-1 * math.div($space , 2)}px;
      margin-right: #{-1 * math.div($space , 2)}px;

      >.col {
        padding-left: #{math.div($space , 2)}px;
        padding-right: #{math.div($space , 2)}px;
      }
    }

    &.v-spacing-#{$space} {
      row-gap: #{$space}px;

      &:not(:last-child) {
        margin-bottom: #{$space}px;
      }
    }
  }

}

@for $i from 1 through 24 {
  @media (max-width: variables.$xs) {
    .xs-#{$i} {
      flex: 0 0 math.div(100, math.div(24 , $i)) * 1%;
      max-width: math.div(100, math.div(24 , $i)) * 1%;
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: variables.$xs) {
    .sm-#{$i} {
      flex: 0 0 math.div(100%, math.div(24 , $i));
      max-width: math.div(100%, math.div(24 , $i));
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: variables.$md) {
    .md-#{$i} {
      flex: 0 0 math.div(100%, math.div(24 , $i));
      max-width: math.div(100%, math.div(24 , $i));
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: variables.$lg) {
    .lg-#{$i} {
      flex: 0 0 math.div(100, math.div(24 , $i)) * 1%;
      max-width: math.div(100, math.div(24 , $i)) * 1%;
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: variables.$xl) {
    .xl-#{$i} {
      flex: 0 0 math.div(100, math.div(24 , $i)) * 1%;
      max-width: math.div(100, math.div(24 , $i)) * 1%;
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: variables.$xxl) {
    .xxl-#{$i} {
      flex: 0 0 math.div(100, math.div(24 , $i)) * 1%;
      max-width: math.div(100, math.div(24 , $i)) * 1%;
    }
  }
}

@for $j from 0 to 100 {
  @media (max-width: variables.$xxl) {
    .order-xxl-#{$j} {
      order: $j;
    }
  }

  @media (max-width: variables.$xl) {
    .order-xl-#{$j} {
      order: $j;
    }
  }

  @media (max-width: variables.$lg) {
    .order-lg-#{$j} {
      order: $j;
    }
  }

  @media (max-width: variables.$md) {
    .order-md-#{$j} {
      order: $j;
    }
  }

  @media (max-width: variables.$xs) {
    .order-sm-#{$j} {
      order: $j;
    }
  }

  @media (max-width: variables.$xs) {
    .order-xs-#{$j} {
      order: $j;
    }
  }


}