@use './shared';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: #00000073;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 0.625rem;

  .modal-body {
    background-color: var(--bg);
    padding: 0;
    position: relative;
    max-width: 95%;
    min-width: 200px;
    border-radius: 6px;
    min-width: 450px;
    box-shadow: 0px 2px 10px var(--cardShadow);
    //===
    overflow: hidden;
    max-height: calc(100dvh - 20px);
    display: flex;
    flex-direction: column;

    >.modal-title {
      padding: 1rem 1.25rem;
      border-bottom: 1px solid var(--border);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      position: relative;
      align-items: center;
      height: 65px;

      .title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 700;
        font-size: 13px;
      }

      .icon {
        svg {
          vertical-align: middle;
        }
      }
    }

    >.btn-close {
      position: absolute;
      left: 1.875rem;
      top: 0.875rem;
      margin: 1.25rem;
    }

    >.modal-content {
      max-height: calc(100dvh - 2.5rem);
      overflow: auto;
      padding: 1.25rem;
    }

    &:not(.with-title) {
      >.modal-content {
        padding-top: 0px;
        margin-top: 30px;
        max-height: calc(100% - 30px);
      }
    }
  }


  &.fullscreen {
    padding: 0px;

    .modal-body {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: none;
      border-radius: 0;

      .modal-content {
        height: 100%;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: flex-end;
    gap: 0.625rem;
    padding: 0.625rem 1.25rem;
    border-top: 1px solid var(--border);
  }
}

.modal-scroll-effect {
  overflow: hidden !important;
}

html[dir='ltr'] {
  .modal {
    .btn-close {
      right: 1.875rem;
      left: auto;
    }
  }
}

@media (max-width: shared.$xl) {
  .modal {
    align-items: flex-end;
    padding: 0;

    .modal-body {
      min-width: 100%;
      width: 100%;
      border-radius: 0;
      max-height: none;

      .btn-close {
        margin: 0;
        left: 1.25rem;
      }
    }

    &:not(.fullscreen) {
      .modal-body {
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
      }
    }
  }
}