.pop-up {
    position: absolute;
    z-index: 999;

    .card {
        padding: .625rem;

        .content {
            display: flex;
            flex-flow: column;
            gap: .625rem;

            button {
                display: flex;
                align-items: center;
                gap: .625rem;
                height: 1.375rem;
            }
        }
    }
}