.single-menu{
    width: max-content;
    position: relative;
    .single-menu-icon {
      cursor: pointer;
    }
}
.wrapper-items {
    position: absolute;
    z-index: 10000;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: var(--bg);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    .item {
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      * {
        text-decoration: unset;
        color: inherit;
      }
      &:hover {
        background-color: var(--hover);
        color: var(--blue);
        svg path {
          stroke: var(--blue);
        }
      }
      &.item-custom-color,
      &.item-custom-color:hover {
        color: var(--customColor);
        svg path {
          stroke: var(--customColor);
        }
      }
    }
    .disabled,
    .disabled:hover {
      background-color: unset;
      * {
        color: var(--disabledText);
        cursor: not-allowed;
        svg path {
          color: var(--disabledText);
          stroke: var(--disabledText);
        }
      }
    }
  
    .item-content {
      padding: 0.625rem;
  
      display: flex;
      align-items: flex-end;
      gap: 0.625rem;
      white-space: nowrap;
    }
    &.wrapper-items-none {
      display: none;
    }
  }
  