@use 'sass:math';
@mixin sizes {
  &.small {
    width: 16px;
    height: 16px;
    border-width: 1px;
    padding: 4px;
  }

  &.medium {
    width: 24px;
    height: 24px;
    border-width: 6px;
    padding: 4px;
  }

  &.large {
    width: 42px;
    height: 42px;
    padding: 6px;
  }

  &.extra-large {
    width: 64px;
    height: 64px;
    padding: 8px;
  }
}

.spinner {
  &.circle-spinner {
    display: inline-block;
    @include sizes;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--gray);
    --_m:
      conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: circleSpinner 1s infinite linear;
  }

  @keyframes circleSpinner {
    to {
      transform: rotate(1turn)
    }
  }

  &.dot-spinner {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 16px;
    border-radius: 5px;
    background-color: var(--text);
    color: var(--text);
    animation: dot-spinner 0.5s infinite linear alternate;
    animation-delay: 0.25s;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: var(--text);
      color: var(--text);
      animation: dot-spinner 1s infinite alternate;
      animation-delay: 0s;
    }

    &::after {
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: var(--text);
      color: var(--text);
      animation: dot-spinner 0.5s infinite alternate;
      animation-delay: 0.5s;
    }

    &.small {
      $dim: 6px;
      width: $dim;
      height: $dim;
      margin: 0 $dim + 5px;
      border-radius: math.div($dim ,2);

      &::before {
        left: -10px;
        width: $dim;
        height: $dim;
        border-radius: 3px;
      }

      &::after {
        left: 10px;
        width: $dim;
        height: $dim;
        border-radius: 3px;
      }
    }

    &.large {
      $dim: 16px;
      border-radius: math.div($dim ,2);
      width: $dim;
      height: $dim;
      margin: 0 20px;

      &::before {
        left: -20px;
        width: $dim;
        height: $dim;
        border-radius: 8px;
      }

      &::after {
        left: 20px;
        width: $dim;
        height: $dim;
        border-radius: 8px;
      }
    }

    @keyframes dot-spinner {
      0% {
        background-color: var(--text);
      }

      50%,
      100% {
        background-color: var(--border);
      }
    }
  }
}