@mixin circle {
    width: 34px;
    height: 34px;
    padding: 0;
    border-radius: 50%;
    &.small {
        height: 26px;
    }
    &.large {
        height: 60px;
    }
    background-color: var(--bg);
    &:hover,
    &:focus {
        background-color: var(--hover);
    }
    &:disabled {
        color: var(--disabledText);
    }
}
&.circle {
    @include circle;
}
&.secondary-circle {
    @include circle;
    border:solid 1px var(--border);
}
