@use "../variables" as v;

@mixin styles {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  line-height: normal;
  color: var(--text);

  svg {
    color: var(--text);
  }

  &:hover {
    color: var(--text);
  }

  &:active {
    color: var(--blueActive);
  }

  &:disabled {
    color: var(--disabledText);
  }

  &.danger {
    color: var(--red);
    @include sedo(var(--redHover), var(--redActive));
  }
}

&.ghost {
  @include styles;
}

@media(min-width: v.$xl) {
  &.desktop-ghost {
    @include styles;
  }
}

@media(max-width: v.$xl) {
  &.mobile-ghost {
    @include styles;
  }
}