@mixin sedo($hover, $active) {
    &:hover {
      color: var(--blue);
    }
    &:disabled {
      background-color: var(--border);
      color: var(--disabledText);
    }
  }
  &.gray {
    background-color: var(--hover);
    @include sedo(var(--blue), var(--blue));
    &.danger {
      background-color: var(--red);
      @include sedo(var(--redHover), var(--redActive));
    }
  }
  