&.link-gray {
  background-color: transparent;
  line-height: normal;
  color: var(--blue);
  &:hover {
    color: var(--blueHover);
    background-color: var(--hover);
  }
  &:active {
    color: var(--blueActive);
  }
  &:disabled {
    background-color: var(--border);
    color: var(--disabledText);
  }
  &.danger {
    color: var(--red);
    @include sedo(var(--redHover), var(--redActive));
  }
}
