@mixin sedo($hover, $active) {
  &:focus {
    @if ($active == transparent) {
      background-color: transparent;
      border-color: $hover;
      color: $hover;
    } @else {
      background-color: $active;
      border-color: $active== "" $active;
      color: #fff;
    }
  }
  &:hover {
    background-color: $hover;
    border-color: $hover;
    color: #fff;
  }
  &:disabled {
    background-color: var(--border);
    color: var(--disabledText);
    border-width: 0;
  }
}

&.secondary {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  border-color: var(--blue);
  color: var(--blue);
  @include sedo(var(--blueHover), var(--blueActive));

  &.danger {
    color: var(--red);
    border-color: var(--red);
    @include sedo(var(--redHover), transparent);

    svg {
      color: var(--red);
    }

    &:hover {
      svg {
        color: var(--bg);
      }
    }
    &:focus {
      svg {
        color: var(--bg);
      }
    }
  }
}
