@use "./shared";

.row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  flex: 1;
  $spaces: 0,
  4,
  10,
  20,
  30,
  40,
  64;

  @each $space in $spaces {
    &.h-spacing-#{$space} {
      margin-left: #{-$space/2}px;
      margin-right: #{-$space/2}px;

      >.col {
        padding-left: #{$space/2}px;
        padding-right: #{$space/2}px;
      }
    }

    &.v-spacing-#{$space} {
      row-gap: #{$space}px;

      &:not(:last-child) {
        margin-bottom: #{$space}px;
      }
    }
  }

}

@for $i from 1 through 24 {
  @media (max-width: shared.$xs) {
    .xs-#{$i} {
      flex: 0 0 (100/ (24 / $i)) * 1%;
      max-width: (100/ (24 / $i)) * 1%;
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: shared.$xs) {
    .sm-#{$i} {
      flex: 0 0 (100%/ (24 / $i));
      max-width: (100%/ (24 / $i));
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: shared.$md) {
    .md-#{$i} {
      flex: 0 0 (100%/ (24 / $i));
      max-width: (100%/ (24 / $i));
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: shared.$lg) {
    .lg-#{$i} {
      flex: 0 0 (100/ (24 / $i)) * 1%;
      max-width: (100/ (24 / $i)) * 1%;
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: shared.$xl) {
    .xl-#{$i} {
      flex: 0 0 (100/ (24 / $i)) * 1%;
      max-width: (100/ (24 / $i)) * 1%;
    }
  }
}

@for $i from 1 through 24 {
  @media (min-width: shared.$xxl) {
    .xxl-#{$i} {
      flex: 0 0 (100/ (24 / $i)) * 1%;
      max-width: (100/ (24 / $i)) * 1%;
    }
  }
}

@for $j from 0 to 100 {
  @media (max-width: shared.$xxl) {
    .order-xxl-#{$j} {
      order: $j;
    }
  }

  @media (max-width: shared.$xl) {
    .order-xl-#{$j} {
      order: $j;
    }
  }

  @media (max-width: shared.$lg) {
    .order-lg-#{$j} {
      order: $j;
    }
  }

  @media (max-width: shared.$md) {
    .order-md-#{$j} {
      order: $j;
    }
  }

  @media (max-width: shared.$xs) {
    .order-sm-#{$j} {
      order: $j;
    }
  }

  @media (max-width: shared.$xs) {
    .order-xs-#{$j} {
      order: $j;
    }
  }


}